// /*==========  Desktop First  ==========*/
// Custom Media Query
@media only screen and (max-width: 1400px) {
    // General
    .container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    // Global

    // Sections
    /* Home Section */
    .home-image{
        right: 50%;
        &-person{
            right: -50px;
        }
        &-card{
            right: 500px;
        }
    }
    /* Find Section */
    .find-row-right{
        .find-image-person{
            right: -20px;
        }
        .find-image-bg{
            width: 55%;
        }
        .find-image-card{
            right: 400px;
        }
    }
}

// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {
    // General
    
    // Global
    
    // Sections
    /* Solution Sections */
    .solutions-cards{
        grid-template-columns: repeat(2,287px);
        grid-template-rows: repeat(2,1fr);
        row-gap: 30px;
        justify-items: unset;
        justify-content: center;
    } 
}

// Custom Media Query
@media only screen and (max-width: 1153px){
    /* Find Section */
    .find-row-right{
        .find-image-card{
            display: none;
        }
    }
}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    // General

    // Global

    // Sections
    /* Header */
    .header-row {
        .header-nav,
        .header-login {
            display: none;
        }
    }
    /* Home Section */
    .home{
        min-height: 500px;
    }
    .home-image{
        &-person{
            width: 53%;
        }
        &-card{
            display: none;
        }
        &-bg{
            right: -350px;
        }
    }
    /* Find Section */
    .find{
       min-height: 500px; 
    }
    .find-row-right{
        .find-image-person{
            right: 50px;
            width: 37%;
        }
    }
}

// /* Small Devices, Tablets
@media only screen and (max-width: 768px) {
    // General

    // Global

    // Sections
    /* Home Section */
    .home{
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: auto;
    }
    .home-image{
        &-person{
            display: none;
        }
        &-bg{
            display: none;
        }
    }
    /* Solutions Section */
    .solutions{
        padding: 40px 0;
    }
    .solutions-cards{
        grid-template-columns: repeat(2, 1fr);
        justify-content: unset;
    }
    /*Find Section*/
    .find{
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: auto;
    }
    .find-row-right{
        .find-image-person{
            display: none;
        }
        .find-image-bg{
            display: none;
        }
    }
}
// Custom Media Query
@media only screen and (max-width: 600px) {

    /* Solution Sections */
    .solutions-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: unset;
    }
}

// /* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    // General
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    // Global

    // Sections
    /* Home Section */
    .home-content{
        &-title{
            font-size: 32px;
        }
    }
}

// /* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    // General

    // Global

    // Sections
    /* Home Section */
    .home-content{
        text-align: center;
        &-title{
            font-size: 26px;
        }
    }
    /* Solutions Section */
    .solutions-header{
        .title{
            font-size: 26px;
        }
    }
    /*Find Section*/
    .find-row{
        .find-row-left{
            text-align: center;
            .title{
                font-size: 26px;
            }
            .find-list{
                text-align: center;
            }
        }
    }
}